@import "mixin";
.Top-main{
  width: 100vw;
  background-color: #ffffff;
}
.Top-main_header{
  display: flex;
  width: 100vw;
}
.medical-title{
  width: 60vw;
  font-size: 30px;
  text-decoration:underline;
  margin-left: 50px;
  margin-top: 10px;
}
.medical-day{
  width: 20vw;
  font-size: 20px;
  margin-top: 12px;
  .label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
  }
  .input,
  label {
    margin: .4rem 0;
  }
  .date{
    height: 22px;
  }
}
.Download-link__PDF{
  width: 75px;
}

.Top-sub-title{
  font-size: 20px;
  text-align: center;
  border-bottom: double 5px #cccccc;
}
.Top-central{
  margin-top: 15px;
}
.Top-central_box{
  display: flex;
  justify-content: space-around;
  font-size: 20px;

  .name-box{
    border-bottom: dashed 2px #cccccc;
    .name{
      height: 22px;
      width: 220px;
      font-size: 20px;
    }
  }
  .gender-box{
    display: flex;
    border-bottom: dashed 2px #cccccc;
    .woman-check_box{
      margin-left: 25px;
    }
  }
  .place-box{
    width: 30vw;
    display: flex;
    border-bottom: dashed 2px #cccccc;
    .facility-check_box{
      margin-left: 25px;
      .placename{
        height: 22px;
        width: 238px;
        font-size: 20px;
      }
    }
  }
}
.Top-details{
  margin-top: 20px;
}
.a-box{
  display: flex;
  .title-a{
    @include box-size;
    font-size: 30px;
    height: 50px;
    width: 50px;
  }
  .symptoms{
    @include box-size;
    font-size: 20px;
    height: 50px;
    width: 400px;
    line-height: 50px;
  }
  .menu-check_box{
    @include box-size;
    font-size: 15px;
    height: 50px;
    width: 350px;
    line-height: 50px;
    .meun{
      margin-left: 10px;
    }
  }
  .Doctor-name{
    // border: 1px solid black;
    margin-left: 5px;
    font-size: 20px;
    height: 50px;
    width: 350px;
    line-height: 50px;
    .Doctorname{
      height: 20px;
      width: 200px;
    }
  }
}